.farah{
  color: #fff;
  text-align: center;
  background-color: rgb(87, 17, 17);
  width: 1310px;
  padding: 10px;
  margin: 0px;
 } 
 .fsfsfs{
    color: #fff;
    height: 200px;
    background-image: url(image/Screenshot\\(21\).png);
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
 } 
 .friends {
    width: 400px;
    height: 340px;
    background-color: rgb(202, 159, 159);
 } 
 div .one {
    width: 400px;
    height: 130px;
    background-color: rgb(109, 196, 224);
  }  
 
 ul {
    width: 300;
    height: 90;
    background-color: rgb(64, 64, 187);
  } 
 ul {
    width: 300;
    height: 90;
    background-color: rgb(64, 64, 187);
  } 
 ol {
    width: 300;
    height: 90;
    background-color: rgb(86, 86, 90);
  } 
 ol {
    width: 300;
    height: 200;
    background-color:  rgb(86, 86, 90);
  }  
 .mmmm {
    text-align: center;
    color: #fff;
    background-color: rgb(105, 7, 7);
 }





